:root{
	font-size: 1em;
}

::-webkit-scrollbar {
    width: 0px;
}

body{
	margin:0;
	font-size: 1.8rem;
	line-height: 2.5rem;
	font-family: Verdana, Geneva, sans-serif;
}

.wrapper{
	display: flex;
	flex-flow: column;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}

.order-list-inner{
	display: flex;
	flex-flow: column;
	width: 55rem;
	padding: 1rem;
	margin-top: 1rem;
	box-shadow: 0 0 0.5rem black;
}

.order-header{
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.product-inner{
	border: black solid 0.125rem;
	margin: 0.3125rem;
	text-align: center;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
}

.client-info-inner{
	display: flex;
	flex-flow: column;
	width: 35rem;
	padding: 1rem;
	margin-top: 1rem;
	box-shadow: 0 0 0.5rem black;
}

.client-info-inner span{
	display: block;
	border-bottom: black solid 0.125rem;
	margin: 0.3125rem;
	padding: 0.3125rem;
}

.client-info-header{
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.address-inner{
	display: flex;
	flex-flow: column;
	width: 30rem;
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 0.5rem black;
}

.address-inner span{
	display: block;
	border-bottom: black solid 0.125rem;
	margin: 0.3125rem;
	padding: 0.3125rem;
}

.address-header{
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media screen and (min-width:980px){

	:root{
		font-size: 1em;
	}
}

@media screen and (max-width:980px){
	:root{
		font-size: .7em;
	}
}

@media screen and (max-width:665px){
	:root{
		font-size: .5em;
	}	
}
